//* Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$default-font: 'Montserrat', sans-serif;

//* Colors
$primary-background-color : #FFFFFF;
$secondary-Background-color : #F6F6F6;
$default-Font-color : #000000;
$title-color : #FFFFFF;
$main-color : #FF6060;

$footer-Background-color : #000000;
$Footer-Font-Color : #ffffff;