@use '../../styles/variables.scss';

.logoIcon {
    color: variables.$main_color;
    height: 46.88px;
}

.logoIconFooter {
    color: variables.$Footer-Font-Color;
    height: 39.44px;
}

@media (min-width : 769px) {
    .logoIcon {
        color: variables.$main-color;
        height: 68px;
    }
}

@media (max-width : 350px) {
    .logoIcon {
        color: variables.$main-color;
        height: 40px;
    }
}